---
navOptions:
  listClass: crumbs
  listItemClass: crumb
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ eleventyNavigation.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
    {% if include_hljs %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/solarized-dark.min.css"
    />
    {% endif %}
  </head>
  <body>
    <header>
      <h1>{{ eleventyNavigation.title }}</h1>
      <nav>
        {{ collections.all | eleventyNavigationBreadcrumb:
        eleventyNavigation.key | eleventyNavigationToHtml: navOptions }}
      </nav>
    </header>
    <main>
      {% if summary %}
      <p>{{ summary | markdown }}</p>
      {% endif %} {{ content }}
    </main>
    <footer>&copy; 2023</footer>
  </body>
</html>
